<% @posts. each do |post| %>
  <div class="card card-skin">
    <%= image_tag "#{post.picture.url if post.picture?}" , class: "card__imgframe", alt: "Photo" %>
    <%= image_tag "#{post.user.picture.url if post.user.picture?}" , class: "user_icon", alt: 'user_icon' %>
    <div class="card__textbox">
      <div class="card__titletext">
        <%= truncate("#{post.name}", length:10) %>
      </div>
        <p class="place"><%= post.place %></p>
        <p>評価：<%= post.rate.to_s %>点</p>
        <div id="star-rate-<%= post.id %>"></div>
          <script>
          $('#star-rate-<%= post.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= post.rate %>,
          });
          </script>
    </div>
      <div class="card__overviewtext">
        <%= truncate("#{post.content}", length:10) %>
      </div>
        <%= link_to "もっとみる", "/posts/#{post.id}" %>
        <%= render 'likes/like', post: post %>
        <% if current_user?(post.user) %>
        <%= link_to "投稿を削除", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </div>
<% end %>
<div class="pagination_float"><%= paginate @posts %></div>