<h2>All Posts</h2>
<ul>
<% @posts. each do |post| %>
<li><%= post.name %></li>
<li><%= post.content %></li>
<li>評価：<%= post.rate.to_s %>点</li> 
      <div id="star-rate-<%= post.id %>"></div>
      <script>
      $('#star-rate-<%= post.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= post.rate %>,
      });
      </script>
<%= image_tag post.picture.url if post.picture? %>
<% end %>
</ul>