<% provide(:title, "New post") %>
  <h2>新規投稿</h2>
    <div class="container">
      <%= form_for :post, url: posts_path do |f| %>
        <%= f.label :name, "施設名" %>
        <%= f.text_area :name, class: 'form-control'%>
      
        <%= f.label :place, "場所" %><br>
        <%= f.select :place, [["千代田区", "千代田区"], ["中央区", "中央区"], ["港区", "港区"], ["新宿区", "新宿区"], ["文京区", "文京区"], ["台東区", "台東区"], ["墨田区", "墨田区"], ["江東区", "江東区"], ["品川区", "品川区"], ["目黒区", "目黒区"], ["大田区", "大田区"], ["世田谷区", "世田谷区"], ["渋谷区", "渋谷区"], ["中野区", "中野区"], ["杉並区", "杉並区"], ["豊島区", "豊島区"], ["北区", "北区"], ["荒川区", "荒川区"], ["板橋区", "板橋区"], ["練馬区", "練馬区"], ["足立区", "足立区"], ["葛飾区", "葛飾区"], ["江戸川区", "江戸川区"], ["その他", "その他"]],include_blank: "選択して下さい" %>
      
        <br>
        <%= f.label :content, "感想" %>
        <%= f.text_area :content, class: 'form-control'%>
      
        <div class="form-group row" id="star">
          <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
          <%= f.hidden_field :rate, id: :review_star %>
  　     </div>
  　  
  　     <%= f.hidden_field :latitude, id: :lat %>
        <%= f.hidden_field :longitude, id: :lng %>
  
        <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
        </span>
      
        <%= f.submit "投稿", class: "btn btn-info" %>
      <% end %>
    </div>
  
  <script>
    $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rate]',
    half: true,
    });
  </script>
    
  <p>位置情報を追加する場合はこちらから<br>ヒント：施設名で検索してください</p>
    <form onsubmit="return false;" >
      <input type="text", id="address">
      <button type="button" id="map_button">検索</button>
    </form>
    <div class="map_box01"><div id="map-canvas" style="width: 500px;height: 350px;"></div></div>

  <script type="text/javascript">
    $('#post_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
      }
    });
  </script>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?language=ja&
    reagion=JP&key=AIzaSyA_80g3G8chEycvaMQAJfPYk9ZC6X0t8qo&callback=initMap">
  </script>

  <script>
    function initMap(){
    'use strict';

    var getMap = (function() {
    function codeAddress(address) {
    var geocoder = new google.maps.Geocoder();
 
    var mapOptions = {
      zoom: 16,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
 
    var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    var marker;

    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        document.getElementById('lat').value=results[0].geometry.location.lat();
        document.getElementById('lng').value=results[0].geometry.location.lng();
        marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        console.log('検索に失敗しました' + status);
      }
    });
     
    map.addListener('click', function(e) {
      getClickLatLng(e.latLng, map);
    });
    function getClickLatLng(lat_lng, map) {
      document.getElementById('lat').value=lat_lng.lat();
  　　document.getElementById('lng').value=lat_lng.lng();
      marker.setMap(null);
      marker = new google.maps.Marker({
        position: lat_lng,
        map: map
      });
      map.panTo(lat_lng);
    }
  }
  
  return {
    getAddress: function() {
      var button = document.getElementById("map_button");
      button.onclick = function() {
        var address = document.getElementById("address").value;
        codeAddress(address);
      }
      window.onload = function(){
      var address = document.getElementById("address").value;
      codeAddress(address);
      }
    }
  };
  })();
  getMap.getAddress();
  }
  </script>