<% provide(:title, "Post detail") %>
  <h2></h2>
    <div class="post_detail_left">
      <%= link_to "私のYUMEGUリストへ", current_user %>
      <%= link_to "投稿一覧へ", posts_path %>
      <div class="name_frame"><p><%= @post.name %></p><%= render "likes/like", post: @post %></div>
      <p>評価：<%= @post.rate.to_s %>点<br> 
      <div id="star-rate-<%= @post.id %>"></div>
      
      <script>
        $('#star-rate-<%= @post.id %>').raty({
        size: 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        half: true,
        readOnly: true,
        score: <%= @post.rate %>,
        });
      </script>
      
      <div class="box">
        <%= @post.content %>
      </div>
      <%= image_tag "#{@post.user.picture.url if @post.user.picture?}" , class: "user__imgframe", alt: 'user_icon' %>
      <p><%= link_to "#{@post.user.name}", @post.user %>　　投稿日：<%= @post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    </div>
      
    <div class="post_detail_right">
      <p>写真：</p>
      <%= image_tag "#{@post.picture.url if @post.picture?}" , class: "card__imgframe", alt: "Photo" %>
      
      <p>場所：<%= @post.place %></p>
      <p>地図：</p>
      <div id="target"></div>
      
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?language=ja&
      reagion=JP&key=AIzaSyA_80g3G8chEycvaMQAJfPYk9ZC6X0t8qo&callback=initMap">
      </script>
    
      <script>
      function initMap(){
      'use strict';
      var target = document.getElementById('target');
      var map;
      var spot = {lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
      var marker;
  
      map = new google.maps.Map(target,{
           center: spot,
           zoom: 18,
      });
       
      var marker = new google.maps.Marker({
            position: spot,
            map: map,
       });
      }
      </script>
    </div>